---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
    <p class="col-md-8">I am a proud native of the Rio Grande Valley region of South Texas, a region located on the border of Texas and Mexico.</p>
    <p class="col-md-8">I graduated from Brown University with an A.B. in Computational Biology in 2018. Prior to beginning my Ph.D. program, I worked as a Computational Biologist at the Texas Advanced Computing Center in Austin, Texas.</p>
    <p class="col-md-8">I am currently a third year Computer Science Ph.D. student at Rice University. My research interests broadly encompass Computational Biology and Bioinformatics. As an underrepresented minority navigating PWIs, I am passionate about increasing diversity in STEM.</p> 
    <p class="col-md-8">Outside of academia, my hobbies include crocheting, painting, point-and-shoot film photography, and sewing. Currently, I am learning digital illustration, 3D modeling, and how to swim. Feel free to check out my portfolio if you're interested in seeing what I've been up to.</p> 
    {% for about in site.data.settings.about %}
      <p><a href="{{ site.github.url }}/about/{{ about.url}}">{{ about.name }}</a></p>
    {% endfor %}
  </div>
</div>
